/*------------------------------------*\
  #Helpers
\*------------------------------------*/

/*
 * Font sizes
 */

 .f-headline {
   font-size: 5rem;
 }

.f1 {
  font-size: 3rem;
}
.f2 {
  font-size: 2.25rem;
}
.f3 {
  font-size: 1.6rem;
}
.f4 {
  font-size: 1.25rem;
}
.f5 {
  font-size: 1rem;
}
.f6 {
  font-size: 0.875rem;
}

.f6 {
  font-size: 0.875rem;
}

.f7 {
  font-size: 0.750rem;
}

/*
 * Line height
 */


.l-headline {
  line-height: 1.4em;
}

.l-subline {
  line-height: 1.5em;
}

.l-large {
  line-height: 2em;
}

.l-xlarge {
  line-height: 2.45rem;
}


/*
 * Fonts
 */

.sanserif {
  font-family: var(--font-family);
}

.serif {
  font-family: var(--font-family-serif);
}

/*
 * Text transform
 */

.ttu {
  text-transform: uppercase;
}
.tracked {
  letter-spacing: 0.15em;
}
.tracked-tidy {
  letter-spacing: 0.075em;
}

.no-underline {
  text-decoration: none;
}

/*
 * Colors
 */

.gray {
  color: var(--gray);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

/* background colors */

.bg-gray-medium {
  background-color: var(--gray-medium);
}

.bg-gray-light {
  background-color: var(--gray-light);
}

.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-purple {
  background-color: var(--purple);
}

/* hover colors */

.hover-red:hover {
  color: var(--red);
}


/*
 * Padding
 */

 /* level 1 */



 /* level 3 */

.p3-t {
  padding-top: 3rem;
}

 /* level 4 */

.p4-t {
  padding-top: 4rem;
}

 /* level 6 */

.p6-t {
  padding-top: 6rem;
}

.p6-tb {
  padding-top: 6rem;
  padding-bottom: 6rem;
}


/*
 * Margin
 */


 /* level 0 */

.m0 {
  margin: 0;
}


 /* level 1 */

.m1-b {
  margin-bottom: 1rem;
}

 /* level 2 */




/* level 3 */


/* level 4 */



/* level 6 */

.m6-b {
  margin-bottom: 6rem;
}

/* level 6 */



/* level 10 */



/*
 * Lists
 */

 .list-h {
  list-style: none;
  display: flex;
}


/*
 * Grids
 */

.grid-1-3 {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-column-gap: 6rem;
}

.grid-halves {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-sixes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 3rem;
}


.block {
  display: block;
}


/*
 * Width
 */

 .w-small {

 }

 .w-medium {

 }
 
 .w-large {

 }

 .w-half {
   max-width: calc(var(--site-width) / 2)
 }


/*
 * Hover effects
 */
 


 /*
 * Positions
 */

.center {
  margin-left: auto;
  margin-right: auto;
}

 /*
 * Font styles
 */

 .bold {
   font-weight: 600;
 }
 

/*
 * Background styles
 */

 .filled {
   background-size: cover;
   background-repeat: no-repeat;
 }