/*------------------------------------*\
  #Helpers
\*------------------------------------*/

/*
 * Font sizes
 */

 .f-headline {
   font-size: 3rem;
 }

.f1 {
  font-size: 3rem;
}
.f2 {
  font-size: 1.8rem;
}
.f3 {
  font-size: 1.6rem;
}
.f4 {
  font-size: 1.25rem;
}
.f5 {
  font-size: 1rem;
}
.f6 {
  font-size: 0.875rem;
}

.f6 {
  font-size: 0.875rem;
}

.f7 {
  font-size: 0.750rem;
}

/*
 * Line height
 */


.l-headline {
  line-height: 1.4em;
}

.l-subline {
  line-height: 1.5em;
}

.l-large {
  line-height: 1.65em;
}

.l-xlarge {
  line-height: 2.45rem;
}


/*
 * Fonts
 */

.sanserif {
  font-family: var(--font-family);
}

.serif {
  font-family: var(--font-family-serif);
}

/*
 * Text transform
 */

.ttu {
  text-transform: uppercase;
}
.tracked {
  letter-spacing: 0.15em;
}
.tracked-tidy {
  letter-spacing: 0.075em;
}

.no-underline {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/*
 * Colors
 */

.black {
  color: var(--black)
}

.gray {
  color: var(--gray);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue)
}

/* background colors */


.bg-white {
  background-color: var(--white);
}

.bg-gray-medium {
  background-color: var(--gray-medium);
}

.bg-gray-light {
  background-color: var(--gray-light);
}

.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}

.bg-yellow-light {
  background-color: var(--yellow-light)
}

.bg-purple {
  background-color: var(--purple);
}

.bg-green {
  background-color: var(--green)
}

.bg-gray {
  background-color: var(--gray);
}

/* hover colors */

.hover-red:hover {
  color: var(--red);
}


/*
 * Padding
 */



.p1-tb {
  padding-top: 0;
  padding-bottom: 0;
}

 /* level 1 */

.p1-lr {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p1-tb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p1 {
  padding: 1rem;
}


 /* level 3 */

.p3-t {
  padding-top: 3rem !important;
}

.p3-lr {
  padding-left: 3rem;
  padding-right: 3rem;
}

 /* level 4 */

.p4-t {
  padding-top: 4rem;
}

 /* level 6 */

.p6-t {
  padding-top: 6rem;
}

.p6-b {
  padding-bottom: 6rem;
}

.p6-tb {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.p6 {
  padding: 6rem;
}





 /* level 9 */

.p9-t {
  padding-top: 9rem;
}
.p9-t {
  padding-top: 9rem;
}


/*
 * Margin
 */


 /* level 0 */

.m0-last:last-of-type {
  margin: 0;
}

.m0 {
  margin: 0;
}


 /* level 1 */

.m1-b {
  margin-bottom: 1rem;
}

 /* level 2 */

.m2-b {
  margin-bottom: 2rem;
}


/* level 3 */

.m3-b {
  margin-bottom: 3rem;
}

/* level 4 */

.m4-b {
  margin-bottom: 4rem;
}


/* level 6 */

.m6-b {
  margin-bottom: 6rem;
}

/* level 7 */

.m7-b {
  margin-bottom: 7rem;
}


/* level 9 */

.m9-b {
  margin-bottom: 9rem;
}

/*
 * Lists
 */

 .list-h {
  list-style: none;
  display: flex;
}


/*
 * Grids
 */

.grid-1-3 {
  display: grid;
  grid-template-columns: 1.5fr 3fr;
  grid-column-gap: 6rem;
}

.grid-halves {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-thirds {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-sixes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 3rem;
}

.grid-space {
  grid-column-gap: 2rem;
}

.grid-image-left {
  & div:nth-child(1) {
    order: 2;
  }
}
.grid-image-right {
  & div:nth-child(1) {
    order: 1;
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}


/*
 * Widths
 */

 .w-small {
   max-width: 300px;
 }

 .w-medium {

 }
 
 .w-large {

 }

 .w-full {
   width: 100%;
 }

 .w-half {
   max-width: calc(var(--site-width) / 2)
 }
 
 .w-half-extra {
   max-width: calc(var(--site-width) / 2 + 6)
 }
 
 .w-third {
   max-width: calc(var(--site-width) * .33)
 }
 
 .w-third-extra {
   max-width: calc(var(--site-width) * .33 + 5)
 }



 /*
 * Heights
 */

 .h-full {
   height: 100vh;
 }


/*
 * Hover effects
 */
 


 /*
 * Positions
 */

.center {
  margin-left: auto;
  margin-right: auto;
}

.push-right {
  margin-left: auto;
}

 /*
 * Font styles
 */

 .bold {
   font-weight: 600;
 }

 .italic {
   font-style: italic;
 }
 
 

/*
 * Background styles
 */

 .filled {
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
 }


/*
 * Background styles
 */

 .fixed {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 10;
 }

 .flex-spaced {
   display: flex;
   justify-content: space-between;
 }

.v-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.v-align-center {
  align-items: center;
}

.v-center-spaced {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.flex-grid {
  display: flex; 
}

.label-spacer {
  min-width: 20px;
  display: inline-block;
}


.hover-effect {
  transition: all .2s ease-in;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
  }  
}


.filter-white {
  filter: brightness(0) invert(1);
}
