/*------------------------------------*\
  #Helpers
\*------------------------------------*/

/*
 * Font sizes
 */

.f-headline {
  font-size: 2rem;
  @media (--breakpoint-medium) {
    font-size: 2.8rem;
  }
}

.f1 {
  font-size: 3rem;
}
.f2 {
  font-size: 1.6rem;
  @media (--breakpoint-small) {
    font-size: 1.8rem;
  }
}
.f3 {
  font-size: 1.6rem;
}
.f4 {
  font-size: 1.25rem;
}
.f5 {
  font-size: 1rem;
}
.f6 {
  font-size: 0.875rem;
}

.f6 {
  font-size: 0.875rem;
}

.f7 {
  font-size: 0.75rem;
}

/*
 * Line height
 */

.l-headline {
  line-height: 1.4em;
}

.l-subline {
  line-height: 1.5em;
}

.l-large {
  line-height: 1.65em;
}

.l-xlarge {
  line-height: 2.45rem;
}

/*
 * Fonts
 */

.sanserif {
  font-family: var(--font-family);
}

.serif {
  font-family: var(--font-family-serif);
}

/*
 * Text transform
 */

.ttu {
  text-transform: uppercase;
}
.tracked {
  letter-spacing: 0.15em;
}
.tracked-tidy {
  letter-spacing: 0.075em;
}

.no-underline {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.text-right {
  @media(--breakpoint-small) {
    text-align: right;
  }
}

sup {
  font-size: 0.6em;
}

/*
 * Colors
 */

.black {
  color: var(--black);
}

.gray {
  color: var(--gray);
}

.white {
  color: var(--white);
}

.red {
  color: var(--red);
}

.blue {
  color: var(--blue);
}

/* background colors */

.bg-white {
  background-color: var(--white);
}

.bg-gray-medium {
  background-color: var(--gray-medium);
}

.bg-gray-light {
  background-color: var(--gray-light);
}

.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}

.bg-yellow-light {
  background-color: var(--yellow-light);
}

.bg-purple {
  background-color: var(--purple);
}

.bg-green {
  background-color: var(--green);
}

.bg-gray {
  background-color: var(--gray);
}

/* hover colors */

.hover-red:hover {
  color: var(--red);
}

/*
 * Padding
 */

.p0 {
  padding: 0;
}

.p1-tb {
  padding-top: 0;
  padding-bottom: 0;
}

/* level 1 */

.p1-lr {
  padding-left: 1rem;
  padding-right: 1rem;
}

.p1-tb {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p1 {
  padding: 1rem;
}

/* level 3 */

.p3-t {
  padding-top: 3rem !important;
}

.p3-lr {
  padding-left: 1rem;
  padding-right: 1rem;
  @media (--breakpoint-small) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* level 4 */

.p4-t {
  padding-top: 4rem;
}

/* level 6 */

.p6-t {
  padding-top: 3rem;
  @media (--breakpoint-small) {
    padding-top: 6rem;
  }
}

.p6-b {
  padding-bottom: 3rem;
  @media (--breakpoint-small) {
    padding-bottom: 6rem;
  }
}

.p6-t-small {
  @media (--breakpoint-mobile-only) {
    padding-top: 6rem;
  }
}

.p6-tb {
  padding-top: 3rem;
  padding-bottom: 3rem;
  @media (--breakpoint-small) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.p6 {
  padding: 3rem;
  @media(--breakpoint-small) {
    padding: 6rem;
  }
}

/* level 9 */

.p9-t {
  padding-top: 6rem;
  @media (--breakpoint-medium) {
    padding-top: 9rem;
  }
}

.p9-b {
  padding-bottom: 6rem;
  @media (--breakpoint-small) {
    padding-bottom: 9rem;
  }
}

/*
 * Margin
 */

/* level 0 */

.m0-last:last-of-type {
  margin: 0;
}

.m0 {
  margin: 0;
}

/* level 1 */

.m1-b {
  margin-bottom: 1rem;
}

.m1-l {
  margin-left: 1rem;
}
.m1-r {
  margin-right: 1rem;
}

/* level 2 */

.m2-b {
  margin-bottom: 2rem;
}

.m2-r {
  margin-right: 2rem;
}

/* level 3 */

.m3-b {
  margin-bottom: 3rem;
}

.m3-b-small {
  @media(--breakpoint-mobile-only) {
    margin-bottom: 3rem;
  }
}

/* level 4 */

.m4-b {
  margin-bottom: 4rem;
}

/* level 6 */

.m6-b {
  margin-bottom: 3rem;
  @media (--breakpoint-small) {
    margin-bottom: 6rem;
  }
}

/* level 7 */

.m7-b {
  margin-bottom: 6rem;
  @media (--breakpoint-small) {
    margin-bottom: 7rem;
  }
}

/* level 9 */

.m9-b {
  margin-bottom: 6rem;
  @media (--breakpoint-small) {
    margin-bottom: 9rem;
  }
}

/*
 * Lists
 */

.list-h {
  list-style: none;
  display: flex;
}

/*
 * Grids
 */



.grid {

  /* Fallback: create equal heights of items for non grid browsers like Edge */
  @supports not (display: grid) {
    display: flex;
    flex-flow: row wrap;
  }

}

 @media all and (-ms-high-contrast:none)
{
  .grid { 
    display: flex;
    flex-flow: row wrap;
  } /* IE10 */
  
  *::-ms-backdrop, .grid {
    display: flex;
    flex-flow: row wrap;
  } /* IE11 */
}

.grid-gap-medium {
  @media (--breakpoint-small) {
    grid-column-gap: 3rem;
  }
}

.grid-halves.grid-gap-medium {
   @media (--breakpoint-small) {
    /* Fallback */
    & > .grid-item {
      margin-right: 3rem;
      width: calc(50% - 3rem)
    }
    /* End fallback */
   }
}


.grid-gap-large {
  @media (--breakpoint-small) {
    grid-column-gap: 6rem;
  }
}

.grid-thirds.grid-gap-large {
  @media (--breakpoint-medium) {
    /* Fallback */
    & > .grid-item {
      margin-right: 3rem;
      width: calc(33% - 3rem)
    }
    /* End fallback */
   }
  }



.grid-1-3 {
   @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-column-gap: 6rem;

    /* Fallback */
    & > .grid-item {
      margin-right: 3rem;
      width: calc(33% - 3rem)
    }

    & > .grid-item:nth-child(2) {
      width: calc(66% - 3rem)
    }
    /* End fallback */

  }
}

.grid-1-3-reversed {

  & > .grid-item:nth-child(1) {
    order: 2;
    margin-right: 0;
    width: calc(66% - 3rem)
  }
   & > .grid-item:nth-child(2) {
    order: 1;
    margin-right: 3rem;
    width: calc(33% - 3rem)
  }


}

.grid-3-1 {
  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: 3fr 1.5fr;
    grid-column-gap: 6rem;

        /* Fallback */
    & > .grid-item {
      margin-right: 3rem;
      width: calc(66% - 3rem)
    }

    & > .grid-item:nth-child(2) {
      width: calc(33% - 3rem)
    }
    /* End fallback */
  }
}

.grid-3-1-reversed {
   & > .grid-item:nth-child(1) {
    order: 2;
    margin-right: 0;
    width: calc(33% - 3rem)
  }
   & > .grid-item:nth-child(2) {
    order: 1;
    margin-right: 3rem;
    width: calc(66% - 3rem)
  }
}

.grid-halves {
  @media (--breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
     /* Fallback */
    & > .grid-item {
      width: 50%;
    }
    /* End fallback */
  }
}

.grid-halves-reversed {
  & .grid-item:nth-child(1) {
    order: 2;
  }
  & .grid-item:nth-child(2) {
    order: 1;
  }
}

.grid-thirds {
  @media (--breakpoint-medium) {
    grid-template-columns: 1fr 1fr 1fr;
    display: grid;

    /* Fallback */
    & > .grid-item {
      width: calc(33% - 1rem);
    }
    /* End fallback */

  }
}

.grid-fourths {
  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  /* Fallback */
    & > .grid-item {
      width: calc(50% - 1rem);
      margin-right: 1rem;
    }
    /* End fallback */
  }
  @media (--breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
        /* Fallback */
    & > .grid-item {
      width: calc(25% - 1rem);
      margin-right: 1rem;
    }
    /* End fallback */
  }
}

.grid-sixes {
  @media (--breakpoint-small) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2rem;

    /* Fallback */
    & > .grid-item {
      width: calc(33% - 2rem);
    }
    /* End fallback */


  }
  @media (--breakpoint-medium) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    
    /* Fallback */
    & > .grid-item {
      width: calc(16.65% - 1rem);
      margin-right: 1rem;
    }
    /* End fallback */
  }
}

.grid-item{
  position: relative;

  /* Fallback */
  float: left;
  width: 100%;



  @supports (display: grid) {
    width: auto !important;
    margin-right: 0 !important;
    float: none !important;
  }

  &:last-child {
    margin-right: 0;
  }
  /* End fallback */
}

.grid-space {
  grid-column-gap: 2rem;
}

.grid-image-left {
  & div:nth-child(2) {
    order: 2;
  }
}
.grid-image-right {
  & div:nth-child(1) {
    order: 1;
  }
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

/*
 * Widths
 */

.w-small {
  max-width: 300px;
}

.w-medium {
  @media (--breakpoint-medium) {
    max-width: 500px;
  }
}

.w-large {
  max-width: calc(var(--site-width) * 0.55 + 5);
}

.w-full {
  width: 100%;
}

.w-half-small {
  max-width: calc(var(--site-width) / 2 - 6);
}

.w-half {
  max-width: calc(var(--site-width) / 2);
}

.w-half-extra {
  max-width: calc(var(--site-width) / 2 + 6);
}

.w-third {
  max-width: calc(var(--site-width) * 0.33);
}

.w-third-extra {
  @media (--breakpoint-medium) {
    max-width: calc(var(--site-width) * 0.33 + 5);
  }
}

/*
 * Heights
 */

.h-full {
  min-height: 100vh;

  @media (--breakpoint-medium) {
  height: 100vh;

  }
}

.h-item-1 {
  height: 100vh;
  max-height: 400px;
  @media (--breakpoint-medium) {
    max-height: 100%;
  }
}

.h-item-2 {
  height: 100vh;
   max-height: 400px;
  @media (--breakpoint-medium) {
  max-height: 700px;
  }
}

.h-100 {
  height: 100%;
}

.h-90 {
  height: 90%;
}



/*
 * Hover effects
 */

/*
 * Borders
 */

.border-bottom {
  border-bottom: 1px solid var(--gray-medium);
}

/*
 * Positions
 */

.relative {
  position: relative;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.push-right {
  @media (--breakpoint-medium) {
  margin-left: auto;
  }
}

/*
 * Font styles
 */

.bold {
  font-weight: 600;
}

.italic {
  font-style: italic;
}

.break {
  word-wrap: break-word;
}

/*
 * Background styles
 */

.filled {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.filled-top {
  background-position: top center;
}

.bg-hide-small{
  @media (--breakpoint-mobile-only) {
    background: none !important;
  }
}

.bg-show-small{
  @media (--breakpoint-medium) {
    background: none !important;
  }
}

/*
 * Background styles
 */

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.flex-spaced {
  display: flex;
  justify-content: space-between;
}

.v-center {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.v-align-center {
  align-items: center;
}

.v-center-spaced {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  justify-content: center;
}


.v-center-middle {
  display: flex;
  align-items: center;
}

.v-center-spaced-column {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.flex-grid {
  display: flex;
}

.label-spacer {
  min-width: 20px;
  display: inline-block;
}

.hover-effect {
  transition: all 0.2s ease-in;
  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  }
}

.filter-white {
  filter: brightness(0) invert(1);
}

.overlay-gray {
  background: color(var(--black) alpha(38%));
}


/*
 * Arrows
 */

 .arrow-left {
    text-decoration: none;
   &:before {
    position: relative;
    content:'\27F6';
    right: 5px;
   }
 }

 .arrow-right {
    text-decoration: none;
   &:before {
    position: relative;
    content:'\27F6';
    left: 5px;
   }
 }

 .naked {
   border: 0;
   background: none;
   box-shadow: none;
   outline: 0;
 }