/*------------------------------------*\
  #Styles
\*------------------------------------*/

/*
 * Main layout
 */

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper-grid {
  @media (--breakpoint-medium) {
    max-width: 120em;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 
    [full-start] minmax(1em, 1fr) 
    [main-half1] minmax(0, calc(var(--site-width) / 2))
    [main-half2] minmax(0, calc(var(--site-width) / 2))
    minmax(1em, 1fr) [full-end];

    & > .grid-item {
      margin-right: 0;
      width: calc(50%)
    }

  }

  
  @supports not (display: grid) {
    display: flex;
    flex-flow: row wrap;

    & > .grid-item:nth-child(1) {
      justify-content: center;
    }

  }


  
}

 @media all and (-ms-high-contrast:none)
{
  .wrapper-grid {
    display: flex;
    flex-flow: row wrap;

    & > .grid-item:nth-child(1) {
      justify-content: center;
    }



  } /* IE10 */
  
  *::-ms-backdrop, .wrapper-grid {
    display: flex;
    flex-flow: row wrap;
    & > .grid-item:nth-child(1) {
      justify-content: center;
    }

  } /* IE11 */
}

.out-grid-content {
  @media (--breakpoint-medium) {
    grid-column: main-half1;
  }
}
.out-grid-right {
  @media (--breakpoint-medium) {
    grid-column: main-half2 / full-end;
  }
}

.wrapper-grid-reversed .out-grid-content {
  @media (--breakpoint-medium) {
    grid-column: main-half2;
  }
}


.wrapper-grid-reversed .out-grid-right {
  @media (--breakpoint-medium) {
    grid-column: full-start / main-half2;
  }
}



.layout {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
}

.layout-over {
  max-width: calc(var(--site-width) + 30em);
}

/*
 * Site header
 */

.logo {
  width: 150px;
  height: 32px;
  transition: top 0.5s ease-in-out;
  position: relative;
  top: 2px;
  @media (--breakpoint-small) {
    width: 200px;
    height: 46px;
  }
}

#masthead {
  z-index: 25;
  transition: background 0.5s ease-in-out, padding 0.7s ease-in-out;
  background: color(var(--white) alpha(0%));
  transform: scale3d(1,1,1);
}

#masthead.active {
  background: color(var(--white) alpha(100%));
  transition: background 0.5s ease-in-out, padding 0.7s ease-in-out;
}



.main-navigation {
  & ul {
    list-style: none;
  }
  & a {
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85rem;
    padding: 0rem;
    display: inline-block;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
  @media (--breakpoint-medium) {
    display: flex;
    & .last-regular-item {
      position: relative;
      margin-right: .8rem;
      padding-right: 1.6rem;
      &:after {
        content: '';
        width: 1px;
        height: 20px;
        background-color: var(--black);
        display: block;
        position: absolute;
        right: 0;
        top: 2px;
      }

    }

    & ul {
      display: flex;
    }

    & li {
      padding-left: .8rem;
      padding-right: .8rem;
    }

    & .sub-menu {
      position: absolute;
      z-index: 10;
      background: var(--white);
      padding: 0.5rem 0 0 0;
      opacity: 0;
      transform: translateY(10px);
      transition: opacity 200ms var(--bezier-a), transform 200ms var(--bezier-a);
      pointer-events: none;
      top: 100%;
      width: 180px;
      left: calc(50% - 90px);
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
      display: block;

      & a {
        padding: 0.5rem 0;
        display: block;
      }

      & li {
        display: block;
      }

      & :after {
        content: " ";
        position: absolute;
        top: -0.35rem;
        left: calc(50% - 0.4rem);
        border-top: 0;
        border-left: 0.4rem solid transparent;
        border-right: 0.4rem solid transparent;
        border-bottom: 0.4rem solid var(--white);
      }
    }

    & .menu-item-has-children {
      position: relative;

      &:hover {
        & .sub-menu {
          opacity: 1;
          pointer-events: auto;
          transform: translateY(0);
        }
      }
    }
  }
}

/* Small menu. */

.main-navigation {
  @media (--breakpoint-mobile-only) {
    & .menu-main-navigation-container {
      display: none;
    }

    &.toggled {
      & .menu-main-navigation-container {
        display: block;
      }
    }

    & .nav-menu {
      width: 100%;
      position: fixed;
      left: 0;
      margin: 1rem 0 0;
      background-color: var(--white);
      padding: 2rem 1rem 1rem;
      box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
      transition: margin 0.7s ease-in-out;
    }

    & li {
      display: block;
      margin-bottom: 1rem;
    }

    & .sub-menu {
      padding-top: 0.8rem;
    }
  }
}

.active .nav-menu {
  @media (--breakpoint-mobile-only) {
    margin-top: 0.5rem;
  }
}


.contact-cta {
  display: none;
  @media (--breakpoint-medium) {
  background-color: #f4d2d4;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 2rem 1rem;
  position: fixed;
  z-index: 20;
  right: 3rem;
  top: 10vh;
  transform: scale3d(1,1,1);
  }
}

/* menu icon */

.menu-toggle {
  border: 0;
  background: none;
  outline: none;
  margin-top: 0.5rem;
  @media (--breakpoint-small) {
    margin-top: 1rem;
  }
}

#nav-icon {
  width: 28px;
  height: 16px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 1px;
  width: 100%;
  background: var(--black);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon span:nth-child(1) {
  top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
  top: 8px;
}

#nav-icon span:nth-child(4) {
  top: 16px;
}

.menu-toggle[aria-expanded="true"] #nav-icon span:nth-child(1) {
  top: 16px;
  width: 0%;
  left: 50%;
}

.menu-toggle[aria-expanded="true"] #nav-icon span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.menu-toggle[aria-expanded="true"] #nav-icon span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.menu-toggle[aria-expanded="true"] #nav-icon span:nth-child(4) {
  top: 16px;
  width: 0%;
  left: 50%;
}

/*
 * Footer
 */

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.back-top {
  @media (--breakpoint-medium) {
  transform: rotate(90deg);
  display: block;
  text-decoration: none;
  position: absolute;
  top: 2rem;
  }
}
.menu-footer-menu-container {
  @media (--breakpoint-medium) {
    display: flex;
    justify-content: flex-end;

  }
}
.menu-social-container{
  @media (--breakpoint-medium) {
    display: flex;
    justify-content: flex-end;
  }
  @media (--breakpoint-large) {
    padding-right: 2rem;
  }
}

.menu-social-container, .menu-footer-menu-container {
  & ul {
    list-style: none;
    border-left: 1px solid var(--black);
    padding: 0 0 0 1rem;
    margin-top: 0;
  }
  & li {
    margin-bottom: 5px;
  }
  & a {
    text-decoration: none;
    position: relative;
    &:after {
      position: relative;
      content:'\27F6';
      left: 5px;
    }
  }
}

/*
 * Homepage
 */

.usps {
  @media (--breakpoint-small) {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    flex-wrap: wrap;
    align-items: flex-end;
  }
  @media (--breakpoint-medium) {
    display: block;
    min-height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.usp-row {
    @media (--breakpoint-medium) {
    display: flex;
    justify-content: center;
  }
}

.usp-row-item {
   @media (--breakpoint-medium) {
     max-width: 400px;
   }
}

.stories {
  @media (--breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 3rem;
  }
}


.workout-mockup {
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  @media (--breakpoint-small) {
    max-width: 460px;
  }
  @supports not (display: grid) {
      float: right;
  }
}

/*
 * 404
 */

.icon-404 {
  width: 580px;
  height: 318px;
  position: relative;
  left: -40px;
}

/*


/*
 * Forms
 */

input[type="submit"] {
  box-shadow: none;
  border: 0;
  cursor: pointer;
}

.wpcf7 {
  width: 100%;
}

.form-field-naked {
  width: 100%;
  & input {
    border: 0;
    background: 0;
    border-bottom: 2px solid var(--black);
    width: 100%;
    transition: all 0.2s ease-in-out;
    outline: none;
    padding: 0.5rem 0;
  }

  & input::placeholder {
    font-size: 0.75rem;
    font-weight: 400;
    text-transform: uppercase;
  }

  & input:focus {
    //margin-top: 1rem;
  }

  & label {
    width: 100%;
    display: block;
  }
}


.form-field-naked-white {

  & input {
    border-bottom: 2px solid var(--white);
  }
   & input::placeholder {
     color: var(--white)
   }
}


.story-featured-image {
  max-width: 120px;
  height: auto;
  align-self: center;
}

.story-featured-image-wrapper {
  height: 140px;
  display: flex;
  justify-content: center;
}

.recent-client-image-wrapper {
  height: 70px;
  display: flex;
  justify-content: center;
}

.story-featured {
}

.video-content-wrapper {
  opacity: 1;
  transition: 0.2s opacity ease-in-out, 0.4s z-index ease-in-out;
  z-index: 5;

  @media (--breakpoint-mobile-only) {
    color: var(--black);
  }

  @media (--breakpoint-medium) {
    position: absolute;
    top: 30%;
    left: 0;
    overflow: hidden;
    /* height: 100vh; */
    width: 100%;
  }
}

.video-content-wrapper.hide {
  opacity: 0;
  z-index: -5;
}

.video-content {
  @media (--breakpoint-medium) {
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  }
}


.blog-grid {
  @media (--breakpoint-small) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
      /* Fallback */
    & > .grid-item {
      width: calc(50% - 1rem);
      margin-right: 1rem;
    }
    /* End fallback */
  }
  @media (--breakpoint-medium) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
        /* Fallback */
    & > .grid-item {
      width: calc(50% - 1rem);
      margin-right: 1rem;
    }
    /* End fallback */
  }

}

.blog-grid-item {
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;

  @media (--breakpoint-medium) {
  &:nth-of-type(1) {
    grid-column-end: span 2;
  }

  &:nth-of-type(4) {
    grid-column-end: span 2;
  }

  &:nth-of-type(5) {
    grid-column-end: span 2;
  }

  &:nth-of-type(8) {
    grid-column-end: span 2;
  }
}
}

.blog-grid-label {
}

.cover {
  object-fit: cover;
  height: 290px;
  @media (--breakpoint-small) {
    height: 340px;
  }
  @media (--breakpoint-medium) {
    height: 590px;
    @supports not (display: grid) {
      height: 340px;
    }
  }
}

 @media all and (-ms-high-contrast:none)
{
  .cover { 
    height: auto;
  } /* IE10 */
  
  *::-ms-backdrop, .cover {
    height: auto;
  } /* IE11 */
}

.cover-large {
  object-fit: cover;
  height: 290px;
  @media (--breakpoint-small) {
    height: 340px;
  }
  @media (--breakpoint-medium) {
    height: 700px;
  }
}

.label-on-top {
  position: absolute;
  top: 45%;
}


/*
 * Form styles
 */

.form-field-naked input.wpcf7-not-valid {
  border-bottom: 2px solid var(--red);
}

.wpcf7-not-valid-tip {
  padding-top: 1rem;
}

.wpcf7-validation-errors {
  margin: 0 0 1rem 0;
  padding: 1rem;
  background-color: var(--red);
  color: var(--white);
  border: 0;
}

.wpcf7-response-output.wpcf7-mail-sent-ok {
  display: none;
}

/*
 * Pagination
 */

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-previous, .nav-next  {
  margin-bottom: 1rem;
}

.gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
}

.header-read-more {
  display: none;
  @media (--breakpoint-small) {
  position: absolute;
  top: 85vh;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
  display: block;

   &:after {
    position: relative;
    content:'\2193';
    right: 27px;
    bottom: -20px;
   }
  }

  @media (--breakpoint-medium) {
      top: 92vh;
  }
}

.newsletter {
  @media (--breakpoint-medium) {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
 * Search form
 */

.searchform {
  display: flex;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.icon-search, .icon-close {
  width: 18px;
  height: 18px;
}


.nav-wrap {
  display: flex;
}

.pix {
  display: none;
}

#search-toggle, #close-search {
  cursor: pointer;
}

#searchsubmit {
  @media (--breakpoint-mobile-only) {
    display: none;
  }
}

#close-search {
  position: absolute;
  top: 2rem;
  right: 1rem;
  @media (--breakpoint-mobile-only) {
    top: 1rem;
  }
}

.page-content .searchform {
  position: relative;
  left: -2.3rem;
}



.menu-search-wrapper {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  background: var(--white);
  z-index: 30;
  transition: .2s all ease-in;
  display: block;
  opacity: 0;
}

.menu-search-wrapper.active {
  top: 0;
  opacity: 1;
}

.menu-search {

}