/*------------------------------------*\
  #Styles
\*------------------------------------*/


/*
 * Main layout
 */

.wrapper {
  position: relative;
}

.layout {
  max-width: var(--site-width);
  margin-left: auto;
  margin-right: auto;
}

.layout-over {
  max-width: calc(var(--site-width) + 30em);
}


/*
 * Site header
 */

.logo {
  width: 200px;
  height: 46px;
  transition: top .5s ease-in-out;
  position: relative;
  top: 2px;
}


#masthead {
    z-index: 15;
  transition: background .5s  ease-in-out, padding .7s  ease-in-out;
  background: color(var(--white) alpha(0%));
}

#masthead.active {
  background: color(var(--white) alpha(100%));
  transition: background .5s  ease-in-out, padding .7s  ease-in-out;
}

.main-navigation {
  & ul {
    list-style: none;
    display: flex;
  }
  & a {
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85rem;
    padding: 0rem;
    display: inline-block;
    opacity: 1;
    transition: opacity .2s ease-in-out;

    &:hover {
      opacity: .7;
    }
  }

  & li {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  & .sub-menu {
    position: absolute;
    z-index: 10;
    background: var(--white);
    padding: .5rem 0 0 0;
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 200ms var(--bezier-a), transform 200ms var(--bezier-a);
    pointer-events: none;
    top: 100%;
    width: 180px;
    left: calc(50% - 90px);
   box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    display: block;

    & a {
      padding: .5rem 0;
      display: block;
    }

    & li {
      display: block;
    }

    & :after {
      content: " ";
      position: absolute;
      top: -0.35rem;
      left: calc(50% - 0.4rem);
      border-top: 0;
      border-left: 0.4rem solid transparent;
      border-right: 0.4rem solid transparent;
      border-bottom: 0.4rem solid var(--white);
    }
  }


  & .menu-item-has-children {
    position: relative;

    &:hover {
      & .sub-menu {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
      }
    }

  }

}


/*
 * Footer
 */

.footer-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*
 * Homepage
 */

.intro {
  display: grid;
  grid-template-columns: 3em 1fr 3em 1fr 3em;
  grid-template-rows: 6em 1fr 6em;
}

.usps {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.stories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
}

.where-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 6rem;
}

.workout-mockup {
  max-width: 460px;
  box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
}


/*
 * 404
 */

.icon-404 {
  width: 580px;
  height: 318px;
  position: relative;
  left: -40px;
}




/*
 * Strokes
 */

 .stroke {
   position: absolute;
   z-index: -5;
   height: 50px;
   border-radius: 90px;
   mix-blend-mode: hard-light;
   transform: rotate(15deg);
   width: 0;
   max-width: 400px;
 }

 .stroke.active {
   z-index: 5;
 }

  .pos-top {
    top: 10rem;
  }

  .pos-right {
    right: 10rem;
  }

/*
 * Forms
 */

 input[type="submit"] {
   box-shadow: none;
   border: 0;
   cursor: pointer;
 }

 .wpcf7 {
   width: 100%;
 }

.form-field-naked {
  width: 100%;
  & input {
    border: 0;
    background: 0;
    border-bottom: 2px solid var(--black);
    width: 100%;
    transition: all .2s ease-in-out;
    outline: none;
    padding: .5rem 0;
  }

  & input::placeholder {
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  & input:focus {
    //margin-top: 1rem;
  }

  & label {
    width: 100%;
    display: block;
  }

}


.story-featured-image {
  max-width: 120px;
  height: auto;
  align-self: center;
}

.story-featured-image-wrapper {
  height: 140px;
  display: flex;
  justify-content: center;
}

.recent-client-image-wrapper {
    height: 70px;
    display: flex;
    justify-content: center;
}

.story-featured {

}

.video-content-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
    height: 100vh;
  width: 100%;
  opacity: 1;
  transition: .2s opacity ease-in-out, .4s z-index ease-in-out;
  z-index: 5;
}

.video-content-wrapper.hide {
  opacity: 0;
  z-index: -5;
}

.video-content {
   height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
    align-items: center;
}

.grid-icon-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 6rem;
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 3rem;
  //grid-auto-rows: minmax(max-content, 40vmax);

}

.blog-grid-item {
  background-size: cover;
  background-position: center center;
  position: relative;
  display: block;

  &:nth-of-type(1) {
   grid-column-end: span 2;
  }
  
  &:nth-of-type(4) {
    grid-column-end: span 2;
  }
  
  &:nth-of-type(5) {
    grid-column-end: span 2;
  }
  
  &:nth-of-type(8) {
    grid-column-end: span 2;
  }

}

.blog-grid-label {
}

.cover {
  object-fit: cover;
  height: 590px;
}

.label-on-top {
  position: absolute;
  top: 45%;
  margin-left: 3rem;
}