/*------------------------------------*\
  #Vars
\*------------------------------------*/

:root {
  /*
 * Fonts
 */

  --font-family: 'Fakt Pro Bln', -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto,
    noto, "segoe ui", arial, sans-serif;
  --font-family-heading: 'Fakt Pro Bln', -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu,
    roboto, noto, "segoe ui", arial, sans-serif;
  --font-family-serif: initial;

  --site-width: 86rem;

    --bezier-a: cubic-bezier(0.075, 0.82, 0.165, 1);

  /*
  * Colors
  */

  --black: #000;
  --gray: #666666;
  --gray-light: #f6f9fc;
  --purple: #493b94;
  --green: #6bdbd1;
  --red: #f54851;
  --yellow: #ECF244;
  --yellow-light: #fdfeec;
  --white: #fff;
  --gray-medium: #ebf2f1;
  --blue: #2274B5;
  --red: #f00;


  --f4: 1.25rem;

  --stroke-speed: .5s;

  /*
  * Breakpoints
  */

  @custom-media --breakpoint-large (min-width: 102rem);
  @custom-media --breakpoint-small (min-width: 26rem);
  @custom-media --breakpoint-medium (min-width: 42rem);
  @custom-media --breakpoint-mobile-only (max-width: 42rem);
}
