/*------------------------------------*\
  #Vars
\*------------------------------------*/

:root {
  /*
 * Fonts
 */

  --font-family: 'Fakt Pro Bln', -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto,
    noto, "segoe ui", arial, sans-serif;
  --font-family-heading: 'Fakt Pro Bln', -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu,
    roboto, noto, "segoe ui", arial, sans-serif;
  --font-family-serif: initial;

  --site-width: 86rem;

  /*
  * Colors
  */

  --black: #000;
  --gray: #666666;
  --gray-light: #f6f9fc;
  --purple: #493b94;
  --green: #86c9bc;
  --red: #f54851;
  --yellow: #f5c723;
  --yellow-light: #fdfeec;
  --white: #fff;
  --gray-medium: #ebf2f1;


  --f4: 1.25rem;

  /*
  * Breakpoints
  */

  @custom-media --breakpoint-large (min-width: 102rem);
  @custom-media --breakpoint-mobile-only (max-width: 20rem);
}
